@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/* My Variables Definitions
================================ */
$front-page-cross-color: #00D39B;



/*****
TOP NAVIGATION
******/

.header-button-custom {
    margin-right: 10px;
}

.header-button-custom::hover {
    backgroundcolor: #fff;
}

.hero-logo--text {
    font-family: $font-family-sans-serif;
}

.hero-logo--text a:hover {
    text-decoration: none;
}

.top-bar-section ul li {
background: $primary-color;
}

.top-bar-section a:hover {
text-decoration: none;
}

/*****
FRONT PAGE
******/

h1 a, h1 a small {
    color: $tuatara;
}

.mainpage-box--topleft {
border-right:solid 1px $front-page-cross-color;
//border-bottom:solid 1px $front-page-cross-color;
}

.mainpage-box--topright {
//border-left:solid 1px $front-page-cross-color;
//border-bottom:solid 1px $front-page-cross-color;
}

.mainpage-box--bottomleft {
border-right:solid 1px $front-page-cross-color;
border-top:solid 1px $front-page-cross-color;
}

.mainpage-box--bottomright {
//border-left:solid 1px $front-page-cross-color;
border-top:solid 1px $front-page-cross-color;
}

h1.subhead {
    font-size: 0.75rem;
}

/*****
FRONT PAGE LEAD STORY
******/

.frontpage-story-background {
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 2rem;
}

.frontpage-story {

}

.frontpage-story h1 a {
}

.frontpage-story p.lead {
}



/*****
THE BOX
******/

@media #{$medium-up} {
.frontpage-box-headlines {
    line-height: 0.9;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: $h3-font-size;
}
.contact-text-custom {
    text-align: right;
}
    }

@media #{$medium-up} { 
.frontpage-box-subheadlines {
    text-align: center;
    line-height: 1;
    font-size: $h5-font-size;
    margin-top: 2rem;
        }
    }


.the-box-div {
    margin-bottom: 3rem;
}

/*****
COLUMNS
******/

.column-header-custom {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.column-header-background,
.column-header-custom h1
{
    background-color: $primary-color;
    color: $white;
    text-decoration: underline;
}

column-header-custom h1 {
}

.column-header-custom h6 {
    
}

.column-body-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

p.entry-details {
    margin-top: 2rem;
    font-style: italic;
}

/*****
FOOTER
******/

footer {
    background-color: $primary-color;
    color: $white;
    padding-top: 1rem;
}

@media only screen and (max-width: 40em) { 
.mainpage-box--topleft,
.mainpage-box--topright,
.mainpage-box--bottomleft,
.mainpage-box--bottomright {
    border: none;
}
    .toggle-topbar.menu-icon {
        font-family: $font-family-sans-serif;
    }
}

/*****
ABOUT
******/
.about-page-custom, .about-page-custom h1 {
    background-color: $primary-color;
    color: $white;
}

.about-headline-custom {
margin-top: 6rem;
margin-bottom: 2rem;
}

.about-text-custom {
}

/*****
CONTACT
******/

.contact-headline-custom {
    margin-top: 2rem;
}

.contact-text-custom {
    margin-top: 3rem;
}

/*****
BODY
******/

.custom-fontweight-bold {
    font-weight: 700;
}

.custom-fontweight-italic {
    font-style: italic;
}

.custom-body-image {
    margin-bottom: 1rem;
}

/*****
COLUMNS
******/
.columns-page-custom {
    margin-top: 2rem;
}

.columns-header-custom {
    margin-top: 2rem;
}

 .column-page-headlines {
     line-height: 1.2;
     font-size: rem-calc(22px);
 }

.img-caption {
    font-family: $font-family-sans-serif;
    font-size: 0.6rem;
    margin-top: 0;
    padding-top: 0;
}

/*****
SMALL ONLY MEDIA QUERY
******/
@media #{$small-only} {
    .frontpage-box-headlines,
    .frontpage-box-subheadlines,
    .frontpage-main-headline {
    text-align: center;
    color: $primary-color;
        text-decoration: underline;
    }
    
    .frontpage-box-headlines,
    .frontpage-box-subheadlines {
    margin-bottom: 3rem;
    }
}

/* 
Grid based on the theme Center2013 by William Gillis employed on c4ss.org
Version: 1
License: All written content is copyright by the Author. The design is not.
*/